src/main/mule/sample_git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0fae34db-e71c-4577-807f-97ea9111a922" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample_gitFlow" doc:id="44fe50ae-1d10-492b-b43b-977170d6c681" >
		<http:listener doc:name="Listener" doc:id="4deeafd4-b323-47bf-915a-5ee22eebdbde" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="ca8992fb-37d6-408a-880d-83b23546a5dd" message="input"/>
		<set-payload value='" Hai How R u"' doc:name="Payload--1" doc:id="004e9c31-3b7d-4a78-9ed6-fc589cadb69c" />
		<logger level="INFO" doc:name="Log1" doc:id="6c44dd08-e93e-4491-8939-97fbd76eb843" message="#[payload]"/>
		<set-payload value='"Hello good Morning"' doc:name="Payload2" doc:id="2edbcab6-c3f9-4372-923c-9f5421ce0236" />
		<logger level="INFO" doc:name="Log2" doc:id="134b2790-8688-4193-af83-82b74e87563c" message="#[payload]"/>
	</flow>
</mule>
